{% extends "base.html" %}
{% block title %} Новости {% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
</nav>

<div class="container">
    <h1>Новости</h1>
    <a href="{% url "news:create" %}">Добавить статью</a>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Раздел</th>
              <th scope="col">Статья</th>
              <th scope="col">Создано</th>
              <th scope="col"></th>
            </tr>
          </thead>
        <tbody>
            {% for news in tidings %}
                <tr>
                    <td>{{ news.id }}</td>
                    <td>{{ news.section }}</td>
                    <td>{{ news }}</td>
                    <td>{{ news.created_at|date:"d.m.Y H:i:s" }}</td>
                    <td><a href="{{ news.get_absolute_url }}">Подробнее</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock content %}