* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    background-color: #efefef;
    border-right: 1px solid #f5f5f5;
    min-height: 100vh;
}

.logo {
    display: flex;
    height: 210px;
}



.menu {
    padding: 16px;
    list-style-type: none;
}

.menu__link {
    display: flex;
    padding: 16px;
    text-decoration: none;
    color: #616161;
    border-radius: 6px;
    align-items: center;
}

.menu__link:hover {
    color: #616161;
    background-color: #dfb77e;
}

.menu__link span:first-child {
    margin-right: 10px;
}

.menu__link span:last-child {
    line-height: 24px;
}